*{
 margin:0px;
 padding:0px;
}
h1 {
    font-size:2em;
    padding-top:10px;
}
h2 {
    font-size:1.5em;
    padding:10px;
}
header section footer article aside nav hgroup {display:block;}
body {
   width:100%;
   background-color:rgb(201,201,201);
   background-gradient: linear #dec7cd #fff0f2 0 1 0 0.5;
   font-family:Arial,sans-serif;
   text-align:center;
}
#outer{
  width: 1200px;
  margin: 20px auto;
  text-align:left;
}
#top_nav{
   display:inline-block;
   padding:5px;
}
#top_nav input {
  margin:2px;
}
#top_header {
	background-color:black;
	color:white;
	margin-right:auto;
	margin-left:auto;
	padding:10px;
	overflow:hidden;
}
hgroup {
  width:70%;
  float:left;
}
hgroup h1 {
 padding-top:0;
 line-height:1em;
 text-align:left;
}
#ddiv {
	float:left;
	width:50%;
	padding:30px;
}
#personalDiv{
    float:left;
    width:45%;
    padding:10x;
}
#footer {
    clear:both;
    background-color:black;
	color:white;
	padding:10px;
}
.testImage {
 float:left;
 margin: 20px auto;
} 
.borderTest {
 float:left;
 border:2px solid black;
 padding:10px;
 box-shadow:5px 5px 10px black;
 border-radius:30px;
 -moz-border-radius:30px;
 -webkit-border-radius:30px;
}
.borderTest2 {
 float:left;
 border:1px dashed #999;
 padding:10px;
 line-height:1.2em;
 background:#FFFBCC;
 color:red;
}
.sessionmsg {
 text-align:center;
 color:red;
}
#personalDiv form{
  padding:10px;
  margin:10px;
  line-height:2em;
  background-color:beige;
  border:1px dashed #999;
}
input[name="submit0"]{width: 5em;}
input[name="useremail0"]{width: 10em;}
input[name="password0"]{width: 7em;}
#personalDiv input { width:250px;}
#personalDiv input:focus { border: 1px solid #952;	}
#personalDiv input[type="number"] {width: 3em;}
#personalDiv input[name="telephone"] {width: 12em;}
#personalDiv input[type="password"] {width: 12em;}
#personalDiv input[type="submit"] {width: 5em;}
#personalDiv input[name="adress"] {width: 25em;}
#personalDiv input[type="checkbox"] {width: 50px;}
#personalDiv input[type="email"]{
	width: 350px;
	height: 20px;
}
a {
  color:white;
  text-decoration:none;
}
#top_nav a {
  color:yellow;
  text-decoration:none;
}
#top_nav a:hover{
  text-decoration:underline;
}
select {width:100px;}
