*{
 margin:0px;
 padding:0px;
}
@font-face {
    font-family: 'myFontName'; 
    src: url('../fonts/eurofighter.ttf'); 
}
h1 {
    font-size:2em;
    padding-top:10px;
}
h2{
    font-size:1em;
}
header section footer nav hgroup {display:block;}
body {
   width:100%;
   background-color:gray;
   font-family:Arial,sans-serif;
   text-align:center;
}
#top_nav{
   display:inline-block;
   float:right;
   padding:5px;
}
#top_nav li{
   display:inline-block;
   list-style:none;
   padding:5px;
}
#top_nav input {
  margin:2px;
}
#top_header {
	background-color:black;
	color:white;
	width:100%;
	margin-right:auto;
	margin-left:auto;
	padding:10px;
	overflow:auto;
}
hgroup {
  width:70%;
  float:left;
}
hgroup h1 {
 padding-top:0;
 line-height:1em;
 text-align:left;
}
#footer {
    clear:both;
    width:100%;
    background-color:black;
	color:white;
	padding:10px;
}
#outer{
  width: 90%;
  margin: 20px auto;
  padding:10px;
  overflow:hidden;
  text-align:left;
}
#inner{
    margin:20px 0px 1px 1px;
    padding:2px;
    text-align:left;
    overflow:auto;
}
#frameSection{   
    width:50%;
    float:left;
	overflow:auto;	
}
#leftSection {
    width:45%;
    float:right;
	overflow:auto;
}

form{
  width:100%;
  height: 310px;
  overflow:auto;
  /*background-color:beige;*/
}
#div1{
width:96%;
overflow:auto;
padding:5px;
}
#fid1{
   width:100%;
   max-height:270px;
}

input:focus { border: 1px solid #952;}
input { width:250px;}
input[name="submit0"]{width: 5em;}
input[name="useremail0"]{width: 10em;}
input[name="password0"]{width: 7em;}
input[type="number"] {width: 3em;}
input[name="telephone"] {width: 12em;}
input[type="password"] {width: 12em;}
input[name="adress"] {width: 350px;}
input[type="checkbox"] {width: 50px;}
input[type="submit"] {
width:100px;
font: 1.2em;
}

caption {
font-weight:bold;
padding:4pt;
}
td { 
padding:3pt;
font-family:Tahoma, sans-serif;
}

details summary {
	/*background-color:gray;*/
	color:white;
	font-size:120%;
	font-weight:bold;
}
details summary:hover {
	color:rgb(255,100,100);
	cursor: pointer;
}

a {
  color:white;
  text-decoration:none;
}
#top_nav a {
  color:yellow;
  text-decoration:none;
}
#top_nav a:hover{
  text-decoration:underline;
}
.borderTest {
 float:left;
 border:2px solid black;
 padding:10px;
 box-shadow:5px 5px 10px black;
 border-radius:30px;
}
.testImage {
 float:left;
 margin-right:5px;
 margin-top:5px;
 margin-bottom:2px;
}
.myText2Col{
   column-count:3;
   column-gap:2em;
   text-align:justify;
}

select {width:100px;}
.userSpace{
  overflow:auto;
}
.formUpload {
 width:88px;
 height:25px;
 overflow:hidden;
 background:white;
}
.userZone {
  height:300px;
  background:white;
}
.userImage {
    width:150px;
    height:150px;
    margin-right:10px;
}
.imageZone{float:left;}
.myText{
  text-decoration:blink;
  padding:20px 20px 20px 20px;
}

@keyframes glowing {
  0% { background-color: rgb(255,179,102); box-shadow: 0 0 3px #004A7F; }
  20% { background-color: rgb(255,159,64); box-shadow: 0 0 6x #0094FF; }
  40% { background-color: rgb(255,148,40); box-shadow: 0 0 10px #004A7F; }
  60% { background-color: rgb(249,124,0); box-shadow: 0 0 10px #004A7F; }
  80% { background-color: rgb(255,148,40); box-shadow: 0 0 6px #0094FF; }
  100% { background-color: rgb(255,159,64); box-shadow: 0 0 3px #004A7F; }
}

.Mbutton {
    width:300px;
    height:50px;
    font-weight:bold;
    font-size:2em;
    animation: glowing 2000ms infinite;
}
.Mbutton:hover{
   animation:none;
   text-decoration:blink;
   background-color:lightgreen;
}
#jobtable, #edtable{
width:100%;
}
#jobTitle, #edTitle{
    width: 100%;
    height: 60px;   
}
#enddateTip{color:red;}
#jobLocal, #edLocal{
  width:100%;
  height:25px;
}
input[type="date"] {width: 135px;}
#addExp{
  float:left;
}


#div2{
  overflow:auto;
}
#fid2{
   width:100%;
   max-height:240px;
}
#experienceTable {
  /*background-color:lightblue;*/
  width:100%;
  overflow:auto;
}
#edTable {
  /*background-color:magenta;*/
  width:100%;  
  overflow:auto;
}
#experienceDiv, #edDiv{
 overflow:auto;
 height:200px;
 padding-bottom:10px;
 border-right:1px solid #880000;
 border-bottom:1px solid #880000;
}
.tableJobTitle{
  width:50%;
}
.tableEdTitle{
  width:75%;
}
#submitPersonal, #submitEduccation, #submitTechnical{
  width: 135px;
  height:30px;
  background-color: lightgreen;
  font-weight:bold;
  font-size:1em;
}
#submitExperience, #submitLanguage{
  width: 200px;
  height:30px;
  background-color: lightgreen;
  font-weight:bold;
  font-size:1em;
}


.ui-autocomplete.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 0.8em;
  height:200px;
  width:100px;
  overflow-x:hidden;
  overflow-y:auto;
  text-align:left;  
}
#grdate{width:60px;height:25px;}

table#edtable > tbody > tr > td:first-child{
width:150px;
}
#fid3{
   width:100%;
   height:210px;
}
#titleStatus{
  width:60%;
  border: 0;
  outline: none;
  background-color:transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  white-space:pre-wrap;
}
#div4, #div5{
overflow:auto;
}
#fid4{
  width:96%;
  height:240px;
  padding:10px;
}
#fid5{
  width:92%;
  height:120px;
  padding:20px;
}
#technicalArea{
width:96%;
height:140px;
}
#teckdiv{

}
#teckDiv{
/*background-color: rgb(255,100,100);*/
text-align:justify;
padding:10px;
height:200px;
overflow:auto;
border-right:1px solid #880000;
border-bottom:1px solid #880000;
}

#langDiv{
/*background-color: lightblue;*/
padding:15px;
height:130px;
overflow:auto;
border-right:1px solid #880000;
border-bottom:1px solid #880000;
}
#langName{
  font-size: 0.8em;
  font-weight:bold;
}
#imgL0 {
  width:30px;
  height:15px;
}
table#imgTable > tbody > tr > td:first-child {
 max-width:25%;
 text-align:left;
}



/*accordion */

#frameSection.ui-accordion .ui-accordion-header {
display: block;
cursor: pointer;
margin-top: 2px;
padding: .5em .5em .5em .7em;
min-height: 0; /* support: IE7 */
color:black;
border:0;
background-color: transparent;
font-size: 1.2em;
}
#frameSection.ui-accordion .ui-icon { display: none; }
#frameSection.ui-accordion .ui-accordion-header.ui-state-active {background-color:lightblue;}
#frameSection.ui-accordion .ui-accordion-header:hover{background-color:#f7f7f7;}

#frameSection.ui-accordion .ui-accordion-content {
padding: 10px;
border-top: 0;
overflow: auto;
font-family: Verdana,Arial,sans-serif;
font-size: 0.8em;
}

/* accordion */

/*chat room */
.Entertainment{
 width:98%;
}
#chatroom{
  width:95%;
  height:200px; 
  padding:15px;
  background-color:white; 
  font-family:sans;
  font-size:80%;
  overflow:auto;
}

#chatroom span#time{color:gray;}
#chatroom span#user{color:red;}
#chatroom span#msg{
  display: inline-block;
  padding-left: 50px;
}

#chatForm{
  width:98%;
  height:50px;
  overflow:auto;
  padding:7px;
}
#chattable{
  width:100%;
}
#Chatmessage{width:100%;}
#ChatmessageTD{width:90%;}
#submitChatmessage{width:90%;}

/* chat room */
