*{
 margin:0px;
 padding:0px;
}
@font-face {
    font-family: 'myFontName'; 
    src: url('../fonts/gtd.ttf'); 
}


.mphoto{
float:right;
width:100px;
height:100px;
border: 1px solid black;
}
#hh1 {
      font-family: myFontName,sans-serif,Tahoma,Arial;
      font-size:30px;
      margin:0px 0px;    
      font-weight:bold; 
}
#hh01 {
      font-family: myFontName,sans-serif,Tahoma,Arial;
      font-size:17px;
      margin:0px 0px; 
      font-weight:normal;
      color:gray;    
}
#hh2{
      font-family: myFontName,sans-serif,Tahoma,Arial;
      font-weight:normal;
      font-size:10px;
      margin:0px 0px;   
}
h2 {
      font-family: myFontName,sans-serif,Tahoma,Arial;
      font-size:10px;
      margin:0px 0px;   
}
.head1{
   float:left;
}

.head2{

float:left;
width:417px;
}

.head3{
position: fixed;
right: 0;
top: 27mm;
width: 65mm;
font-family: myFontName,sans-serif,Tahoma,Arial;
text-align:justify;
}
#teckdiv{font-size:0.8em;}
.head4{
float:left;
width:417px;
}
/*
header {
    font: 13px sans-serif;
    margin-top: 2px;
    text-align: left;
    text-transform: uppercase;
}

header.background {
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified *//*
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent *//*
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ /*
        background: #fff; 
        padding: 0 15px; 
    }
}
*/

td {
   font-size:0.7em;
   vertical-align: top;
   padding-left:0px;
}

hr { 
 float:right;
 margin:0;
 padding:0;
 display:inline-block;
 z-index:-1;
}

table > tbody > tr > td:first-child {
}

#imgL0 {
  width:20px;
  height:10px;
}
#langName{
font-size:12px;
color:gray;    
}
/*
Garamond
Minion pro
Myriad pro
New Caledonia
Open sans

 */ 
